#clientes ul{
    display: flex;
    align-items: baseline;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    margin: 2em auto;
}

#clientes li{
    padding: 1em;
}

#clientes li img{
    background: #fff;
    width: 8em;
    height: 8em;
    border-radius: 100%;
    object-fit: contain;
    padding: 1em;
    transition: 0.3s ease;
    opacity: 0.8;
    box-shadow: 0 0 1em rgba(0,0,0,0.4);
}

#clientes li:hover img{
    opacity: 1;
    transform: scale(1.1);
}

#clientes li h4{
    font-size: 1em;
    display: block;
    margin-top: 1em;
}