*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

header{
    background: #C25C1A;
    border-bottom: 3px solid #555;
    margin-bottom: 1.5em;
    padding: 0.5em 0;
}

footer{
    background: #201E1F;
    margin-top: 1em;
    padding: 2em 0;
    color: #ddd;
}

textarea{
    min-height: 10em !important;
}

.btn-primary{
    background-color: #C25C1A;
    border-color: #C25C1A;
}

.btn-primary:hover{
    background-color: #555;
    border-color: #555;
}

.table, .table tr, .table td{
    vertical-align: middle;
}